name: Job Alerts Scraper

on:
  schedule:
    - cron: '0 09,14 * * *'
  workflow_dispatch:

jobs:
  scrape-and-email:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'


      - name: Restore seen jobs cache
        uses: actions/cache@v4
        with:
          path: seen_jobs.json
          key: seen-jobs-cache

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run job alerts script
        env:
          EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
        run: |
          python job_alerts.py


      - name: Save seen jobs cache
        uses: actions/cache@v4
        with:
          path: seen_jobs.json
          key: seen-jobs-cache
